#championsTableFilterContainer{
    margin: 0 auto;
    width: 800px;
    /* height: 400px; */
    background-color: rgba(105,105,116,0.3);
    /* opacity: 0.4; */
    padding: 20px;
}
.filterRow{
    /* font-size: 18px; */
    width: 100%;
    color:#C0C0CA;
    /* line-height: 8px; */
    margin-bottom: 10px;
}
.filterRow:last-child{
    margin-bottom: 0px;
    
}
.filterTitle{
    position:relative;
    float:left;
    width: 110px;
    margin-right:10px;
    font-weight: bold;
    font-size: 18px;
}
.filterButton {
    /* margin: auto; */
    padding:0px;
    display:table;
    /* width:1000px; */
    border-collapse: collapse;
}

.filterButton{
    margin:0px;
    padding:0px;
    list-style:none;
    
}

.filterButton{
    /* padding: 10px 20px 10px 20px; */
    /* padding-right: 20px; */
    padding: 0;
    display:block;
    /* text-decoration: none; */
    /* color: #C0C0CA; */
    text-align: center;
    font-size: 18px;
    /* margin: 0px 20px; */
    cursor: pointer;
    /* display: table-cell; */
    /* position: relative; */
    float: left;
    z-index: 2;
    letter-spacing: 1.25px;
    height: 25px;
    font-weight: 100;
    border-radius: 6px;
    margin-right:20px;
    /* padding-right: 20px; */
}
.filterButton:first-child {
    //border-left: none;
}

.filterButton:hover{
  color:#0F84CB;
}

.timeFilterButtonsSelected{
    background: #085998;
    height: 25px;
    color: white;
}

.leagueFilterButtonsSelected{
    background: #085998;
    height: 25px;
    color: white;
    padding: 0;
}

.queueFilterButtonsSelected{
    background: #085998;   
    height: 25px;
      color: white;
}
.filterButtons{
    color: #C0C0CA;
    height: 25px;
}

#championsTableContainer{
        margin: 0 auto;
    width: 800px;
    /* height: 400px; */
    background-color: rgba(105,105,116,0.3);
    /* opacity: 0.4; */
    padding: 20px;
}

#champions{
    margin-top: 50px;
}

#championsFilterTableDiv{
    background-color: rgba(255,255,255, 0);
    width: 100%;
}

#championsFilterTable{
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 5px;
    border-radius: 2px;
    border:null;
}

#tbody{
    margin-top: 20px;
    margin-bottom: 20px;
}

#championsFilterTable .row{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#tbody div{
    text-align: left !important;
    font-size: 14px;
    color: #999999;
}

.labelHighlight{
    text-align:left !important;
    background-color: #006699;
    color: #cccccc !important;
    border-radius: 10px;
    display: inline-block;
    line-height: 20px; 
}

.matchTableFilterTitle{
    color: #cccccc !important;
    font-size: 16px !important;
}

#champLogo{
	float: left;
	padding-top: 30px;
	width: 100px;
}

#champTitle{
	padding-top: 20px;
	float: left;
}

#champTitle h2{
	color:#448AAC;
}

#champTitle b{
	color: white;
}

#championsListTable{

    margin-top: 10px;
}

#championsListTable .row{
    margin-left: 0px;
    margin-right: 0px;
}

.tableStrip{
    background-color: rgba(255,255,255, 0.1);
    border-radius: 5px;
    margin-bottom: 3px;
    height: 50px;
}

.tableStrip div{
    color: #ffffff;
}

.tableStrip.row div{
    position: relative;
    top: 8px; 
 
}

#championsListTableTitleChamp{
    padding-left:20px;
    text-align: left;
    color: #cccccc !important;
    font-size: 18px !important;
    position: relative;
    top: 13px;  

}

#championsListTable .championsListTableTitleWin{
    text-align: center;
    font-size: 15px;
    color:#99cccc;
    position: relative;
    top: 16px; 
}

#championsListTable .championsListTableTitleOthers{
    text-align: center;
    font-size: 15px;
    color:#3399cc;
    position: relative;
    top: 16px; 
}

#championsListTable .championsListTableTitleWin a:hover, #championsListTable .championsListTableTitleOthers a:hover{
    color:#99cccc;
}

#championsListTable .img-circle{
    height:35px;
    width:35px;
}

#tableIndex{
    margin-right: 12px;
    color: #cccccc;
}

.tableStrip .championsListTableTag{
    text-align: left;
}

.tableStrip .championsListTableContent{
    text-align: center;
    position: relative;
    top: 16px !important; 
}

#tableChampName{
    display:inline-block;
    padding-left:6px;
    align-self:bottom;
    color: #cccccc;
}

.pagin{
    left: 30px;
}

.topOne, .topTwo, .topThree{
    color: #cc9933 !important;
}

.row .col-sm-1{
    text-align: left;
}

.active{
    color: #99cccc !important;
}
