/* championDetail page control */
#champDetailStats{
	clear: both;
	background-color: rgba(255,255,255, 0.07);
	margin-top: 150px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}

#statTitle{
    position: relative;
    left: 24px;
    bottom: 20px;
    font-size: 13px; 
    color: #999999;
}

#statVal{
    position: relative;
    left: 24px;
    bottom: 20px;
    font-size: 13px; 
    color: #cccccc;
}

#champDetailStats h3{
	font-size: 14px;
	color: #cccccc;
    position: relative; 
    bottom: 10px;
}

#champDetailAbilities{
	background-color: rgba(255,255,255, 0.07);
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;	
	margin-bottom: 100px;

}

#champDetailAbilities h3{
	color: #cccccc;
	font-size: 14px;
    position: relative;  
    bottom: 10px; 
}

#champDetailAbility{
	background-color: rgba(15,13,28, 0.07);
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	
}

.champDetailAbility{
	padding-bottom: 20px;
}

.champDetailAbility p{
    font-size: 14px;
	color: #cccccc;
	padding-top: 10px;
}

.champDetailAbility b{
	color:#448AAC;;
	font-size: 15px;
}

#champTitle b{ 
    color: #cccccc;
}

#sliderbar{
    height: 10px;
}

#sliderbar h3{
    display: inline-block;
    font-size: 13px; 
    color: #cccccc; 
    position: relative; 
    left: 120px; 
    bottom: 69px;
}

#sliderbar span{
    display: inline-block;
    position: relative; 
    bottom: 70px;
    left: 140px;
    color: #cccccc;
}

#abiContent{
    margin-top: 30px;
    position: relative; 
    bottom: 10px;
}

.abilityImg{
    float: left; 
    width: 8%; 
    overflow: hidden;
}

.img-square{
    width: 40px;
    height: 40px;
}

.abilityText{
    height: auto; 
    overflow: hidden;
    position: relative;
    bottom: 5px;
}

.champDetailAbility hr{
    border-color: #333333;
}
