#chartLinemap{
    width: 600px; 
    height: 350px;
    position: relative;
    top: 20px;
    left: -80px;
    margin-bottom: 200px;
}

#tabWrapper{
    background-color: #10192a;
    opacity: 0.8;
    width: 120px;
    height: 310px;
    position: absolute;
    top: 262px;
    left: 680px;
}

#tabWrapper_2{
    background-color: #10192a;
    opacity: 0.8;
    width: 540px;
    height: 30px;
    position: absolute;
    top: 620px;
    left: 130px;
}

.tabs{
    font-size: 15px;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 10px;
}

#byGameLength{
    font-size: 15px;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    float: left;
}

#byGamePlayed{
    font-size: 15px;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
    float: right;
}

.active{
    background-color: #039be4;
}

#tabWrapper_3{
    background-color: #10192a;
    opacity: 0.8;
    width: 650px;
    height: 30px;
    position: relative;
    top: 0px;
    left: 0px;
}

#kills{
    font-size: 15px;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
}

#solokills{
    font-size: 15px;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
}

#death{
    font-size: 15px;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 33px;
}

#sliderbar{
    position: relative;
    left: 0px;
    top: 20px;
    width: 900px;
}

.output{
    position: relative;
    top: 10px;
/*    left: 200px;*/
    float: left;
}