.summonerDetailPage{
    width:800px;
    margin: 0 auto;
    
}

.summonerDetailPage,.summonerDetailPageTabs,.summonerProfileRow,
.summonerDetailPageContentBottomContainer,
.summonerDetailPageContentTopContainer{
     background-color: rgba(105,105,116,0.3);
}


.summonerProfileRow,.summonerDetailPageTabs,.summonerDetailPageContentGeneral,.summoneDetailPageContentChampions{
    position:relative;
    float:left;
    width:100%;
     background-color: rgba(105,105,116,0.3);
}

.summonerProfileRow{
    height:100px;
}

.summonerDetailPageTabs{
    background-color: rgba(13,54,93,0.2);
}

.summonerTabs{
    position:relative;
    float:left;
    width:25%;
    color:#C0C0CA;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
    
}

.summonerTabs_Selected{
    background-color:#0C385C
}
.summonerTabs:hover{
    background-color:#0C385C
}





/*Home_General*/
.last20GamesSummaryContainer{
    padding-top: 20px;
    position:relative;
    width:50%;
    float: left;
}

.last20GamesSummarySpiderChartContainer{
    padding-top: 0px;
    position:relative;
    width:50%;
    float: left;
}

.highcharts-container{
    height: 350px !important;
}

.highcharts-container svg{
    height: 350px !important;
}

.last20GamesSummarySpiderChart{
    padding-left: 20px;
}

.last20GamesSummaryTitle, .last20GamesSummaryContent{
    position:relative;
    float:left;
    width: 100%;
}

.last20GamesSummaryTitle{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
 }

.titleLeftDivRTitle{
    position:relative;
    display:table-cell;
    color:#448AAC;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.displayHeroSmall{
    position:relative;
    float:left;
    color:white;
}
.leftDivChampions,.leftDivRoleTimes{
    position:relative;
    display:table-cell;
}
.leftDivTable{
     position:relative;
    float:left;
    width:100%;
}
.last20GamesSummaryContent_champUseCount,.last20GamesSummaryContent_champtable,.last20GamesSummaryContent_champRow{
    position:relative;
    float:left;
    width:100%;
    /*height:50px;*/
}

#last20gameSummaryTable{
    width: 320px;
}

#last20gameSummaryTable thead{
    border: 1px solid #1f3042;
    background-color:#1f3042;
    color: #999999;
    text-align: center;
    position: relative;
}
#last20gameSummaryTable tbody{

    color: #cccccc;
    text-align: center;
    font-size: 12px;
}

#last20gameSummaryTable tbody th{
    border: 1px solid #0b4471;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
 }

.last20GamesSummaryContent_champUseCount{
    margin-top: 2em;
    display: table;
}
.theadStyle{
    font-size: 1em;
    padding-top:2px;
    padding-bottom: 2px;
    text-align:center;
 }

.titleLeftDivRTitle b{
    font-size: 1.2em;
 }

.last20GamesSummaryContent{
    margin-left: 1em;
}

.summerTabFont{
    font-size: #263F55;
}

.generalTableHeader{
    color:#448AAC;
}

.generalTableHeader th{
    font-size:1.2em;
    vertical-align: middle;
    text-align: center;
}

#subChampionPage{
    background-color: rgba(255,255,255, 0.05);
    clear: both;
    padding-bottom: 50px;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}
.fixed-table-container {
    border:0px;
}

.img-circle {
    border: none;
    border-color: #263F55;
    height: 50px;
    border-radius: 50%;

}

.champ-img-circle{
    border:2px solid;
    border-color: #263F55;
    height: 80px;
    border-radius: 50%;
}

.matchesTableHeader{
    color:#448AAC;
    background-color: rgba(255,255,255, 0.07);
}

.matchesTableHeader th{
    font-size:1.2em;
    vertical-align: middle;
    text-align: center; 
}

#matches{
    margin-top: 50px;
}

#matches table tr td{
    font-size:1em;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.filterTable{
    margin-left: 30px;
    margin-top: 50px;
}

.filterTable tr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterTable tr td{
    vertical-align: middle;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    color: white;
}

.matchTableFilterTitle p{
    color:#448AAC;
    font-size:1.2em;
    vertical-align: middle;
    text-align: left;
}

#card{
    float: left;
    width:33.3%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.videoCard{
    position: relative;
}

#liveView{
    position: absolute;
    z-index: 100;
}

#playButton{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
    height: 30%;
}

#videoSubtitle{
    height: 65px;
    background-color: rgba(17,28,48, 1);
}

#videoSubtitle h4{
    color: white;
}

#videoSubtitle p{
    color: white;
}

#videoLogo{
    border:2px solid;
    border-color: #263F55;
    height: 50px;
    border-radius: 50%; 
}

#chartHeatmap{
    margin-top: 50px;
    width: 650px;
    height: 650px;
    background-image: url(../images/Layer%2015%20copy%2023.png);
    background-size: 650px;
}

/*
.itemCardSize{
    position: relative;
    padding: 10px;
    float: left;
}
*/

.flashPlayer{
    width: 50%;
    height: 500px;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30px;
}

.rankTableHeader{
    color:#448AAC;  
}

.rankTableHeader th{
    font-size:1.2em;
    vertical-align: middle;
    background-color: rgba(255,255,255, 0.07);
}

#rankTable tr td{
    color:white;
    vertical-align: middle;
}

#rankTable{
    background-color: rgba(255,255,255, 0.05);
}

.chartsWrapper{
    width: 70%;
    margin: 0 auto;
}

#heatmapHeader{
    clear: both;
    background-color: #263F55;
    font-size: 1.2em;
    text-align: center;
    color:white;
    font-size:1.2em;
    margin-top:2em;
    margin-left: 1.5em;
    margin-bottom:2em; 
    padding-top:3px;
    padding-bottom: 1px;
    width: 100%;
}

#chartLinemap{
    margin-top: 30px;
}

.progress{
    margin-top: 20px;
}

#liveViewNumber{
    position: absolute;
    z-index: 101;
    top:3px;
    left:35px;
    font-size: 1em;
    color: white;
}

.pagin{
    padding-top: 10px;
    padding-bottom: 80px;
}

.itemImgWithWidth{
    border-style: solid;
    border-color: rgb(0,76,225);
    border-width: 2px;
    border-radius: 10px;
    width: 200px;
}

#playerScreen{
    position:absolute;
    top: 80px;
    left: -150px;
    height: 150%;
    width: 120%;
}

.progressBg{
    background-color: cyan!important;
}

#itemAnimate{
    padding-bottom: 850px;
}

#chartOptionButtons{
    float: right;
    margin-top: 40px;
    background-color: #263F55;
}

#chartOptionButtons p{
    font-size: 1.2em;
    color: white;
}
#victoryGroup{
    background-color: rgba(255,255,255, 0.03);
    padding-top: 20px;
    padding-left: 20px;
}

#victoryGroup b{
    font-size: 2em;
    color: green;
}

#defeatGroup{
    background-color: rgba(255,255,255, 0.03);
    padding-top: 20px;
    padding-left: 20px;
}

#defeatGroup b{
    font-size: 2em;
    color: red;
}

.col-sm-offset-2.col-sm-8{
    padding-left: 0px;
    padding-right: 0px;
}

/*   New CSS with home.html by Dee  start  */
.btn-group button{
    background-color: #10192a;

    border: none !important;
    color: #999999;
}

.btn-group button:hover{
    background-color: #0c385f;
    color: #cccccc;
}

.btn.btn-nav-selected{
    background-color: #0c385f;
    color: #cccccc;
}
#summaryBar{
    background-color: rgba(255,255,255, 0.1); 
    padding-top: 5px;
/*    padding-bottom: 10px;*/
    margin-bottom: 7px;
}

#summaryBar .row{
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;    
}

.summaryBarSmall{
    display: block !important;
    margin-right: 1.6%;
    margin-left: 1.6%;
    width: 53px;
	height: 53px;
	background-color: #1d324d;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    position: relative;
    left: 0px;
    margin-bottom: 10px;    
}

.summaryBarSmall span{
    color: #eff3f4;
    text-align: center;
    position: relative;
    top: 18px;
    right: 0px;
    font-size: 12px;
}

.summaryBarSmall div{
    color: #afb8c1;
    text-align: center;
}

.underTitle{
    position: absolute;
    top: 52px;
    font-size: 14px;
    left: 36px;    
    color: #eff3f4;
}

.underTitleRank, .underTitleRate, .underTitleRate{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 16px;
}
.underTitleGames{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 12px; 
}

.underTitleKDA{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 18px;  
}

.underTitleLength{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 10px;     
}

.underTitleMastery{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 7px;    
}

.underTitleRoutine{
    position: absolute;
    top: 55px;
    font-size: 8px;
    left: 9px;    
}

#summaryBar .row{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
    padding-right: 0px;    
}
.col-sm-2{
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-1.summaryBarSmall{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center !important;
}

.summaryBarMain{
    position: relative;

    padding-left: 0px;
    padding-right: 0px;
}

.img-circle.summaryBarMainImg{
    border: 1px solid #2188d3;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 25%;
    position: relative;
    bottom: 10px;
}

#rankLevelImg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 11px;
}

#rankLevelValue{
    position: absolute;
    top: 33px;
    right: 11px;
    font-size: 9px;

}

#summaryBarMainCircle{
    display: block !important;
    position: relative;
    left: 65%;
    bottom: 21px;
    width: 15px;
	height: 15px;
	background-color: #4b7c9c;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    color: #cccccc;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
}
/*   New CSS with home.html by Dee  end  */


/*   New CSS with summoner_general by Dee  start  */
.last20GamesSummaryContent_champRow .img-circle{
    width: 40px;
    height: 40px;
}

.last20GamesSummaryTitle.titleBgColor{
    background-color: #0b1b32;
    color: #999999;
}

#last20GameTitle{
    margin-right: 20px;
    top: 10px;
    color: #448AAC;
    padding-left: 0px;
    font-size: 16px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.circleMarker{
    display: block !important;
    position: relative;
    left: 31px;
    bottom: 10px;
    width: 15px;
	height: 15px;
	background-color: #4b7c9c;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    color: #cccccc;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
}

.Last20GamesChampions{
	width: 65px;
    float: left;
    margin: 5px;
}

.Last20GamesChampions div{
    display: none;
}


.Last20GamesChampions:hover div{
    display: block;
    position: absolute;
    z-index: 100;
    background-color: black; 
    width: 150px;
}

.Last20GamesChampions:hover div b{
    color: #cccccc;
    vertical-align: middle;
    margin: 10px;
    font-size: 14px; 
}

.Last20GamesChampions:hover div p{
    color: #cccccc;
    vertical-align: middle;
    margin: 10px;
    font-size: 12px; 
}

#hoverPop{

    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
	border-radius: 8px;
    background-color: black;
    opacity: 0.9;
    position: absolute;

}

.championS5Header{
    clear: both;
    background-color: #0b1b32;
    text-align: center;
    color: #999999;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px; 
    padding-top: 3px;
    padding-bottom: 3px;
}

.rolesInGame{
    display: block !important;
    margin-right: 15px;
    width: 40px;
	height: 40px;
	background-color: #0d0d17;
    border: 1px solid #2487cb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
}

.leftDivRoleTimes{
    left: 15px;
}

.rolesTitle{
    font-size: 16px;
    position: relative;
    top: 6px;
    right: 12px;
    color: #cccccc;
}

.rolesValue{
    font-size: 10px;
    position: relative;
    left: 1px;
    bottom: 2px;
    color: #999999;
}

.generalTableHeader.row, .generalTableValue.row{
    margin-left: 20px;
    margin-right: 20px;
}

.generalTableHeader.row div{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;    
}

.generalTableValue.row div{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.generalTableValue.row span{  
    font-size: 14px;
    color: #d8d8d8;
    text-align: center;
    position: relative;
    top: 10px;
}

.circleHeroDuty{
    display: inline-block !important;
    width: 50px;
	height: 50px;
	background-color: #0d0d17;
    border: 1px solid #2487cb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
}
#rolesChampionTitle{
    font-size: 18px;
    position: relative;
    top: 10px;
}

#roleTable div, #championTable div{
    text-align: center;
}

.img-circle.championTableImg{
    margin-bottom: 10px;
}

#championTable{
    padding-bottom: 20px;
}

#rateLevelValue{
    color: #cc9933;
}
/*   New CSS with summoner_general by Dee  end  */