.filterTable{
    margin-left: 30px;
	margin-top: 50px;
}

.filterTable tr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterTable tr td{
    vertical-align: middle;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
	color: white;
}

.itemCard{
/*    position: relative;*/
/*    border:2px solid;*/
/*    border-color: #263F55;*/
	width: 65px;
    float: left;
    margin: 5px;
}

.itemCard div{
    display: none;
}

.itemCard:hover div{
    display: block;
    position: absolute;
    z-index: 100;
    background-color: black; 
}

.itemCard:hover div b{
    color: white;
    vertical-align: middle;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em; 
}

.itemCard:hover div p{
    color: white;
    vertical-align: middle;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em; 
}

.itemImg{
	border-style: solid;
/*	border-color: rgb(0,76,225);*/
    border-color: gray;
	border-width: 1px;
	border-radius: 8px;
}

#popupImage{
    margin: 15px;
}

#popupWindow{
    width: 350px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
	border-radius: 8px;
    background-color: black;
    opacity: 0.9;
}

#popupItemName{
    position: absolute;
    left: 60px;
}

#icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 280px;
}

#price{
    position: absolute;
    top: 0px;
    left: 275px;
}

#itemBg{
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 150px;
}

#descrip{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}