.filterTable{
    margin-left: 30px;
	margin-top: 50px;
}

.filterTable tr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterTable tr td{
    vertical-align: middle;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
	color: white;
}

#itempics{
/*    position: relative;*/
/*
    border:2px solid;
    border-color: #263F55;
*/
	width: 10%;
    padding:10px;
    float: left;
}

#itempics div{
    display: none;
}

#itempics:hover div{
    display: block;
    position: absolute;
    z-index: 1;
/*
    left: 40px;
    top: 0px;
*/
    background-color: black; 
/*
    width: 200px;
    margin-top: 20px;
*/
}

.pop{
    position: relative;
    left: 200px;
}


.itemCard:hover div b{
    color: white;
    vertical-align: middle;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em; 
}

.itemCard:hover div p{
    color: white;
    vertical-align: middle;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em; 
}

.itemImg{
	border-style: solid;
	border-color: rgb(0,76,225);
	border-width: 2px;
	border-radius: 10px;
}

#popupImage{
    margin: 10px;
}

#itempics{
/*    opacity: 0.5;*/
    width: 10%;
}

#popupWindow{
    width: 350px;
}

#popupItemName{
    position: absolute;
    left: 60px;
}

#price{
    width: 20%;
    position: absolute;
    top: 13px;
    left: 270px;
}

#itemBg{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}