.text--line {
  font-size: 70px;
    position: absolute;
    left: 0px;
}

.text--line2 {
  font-size: 70px;
    position: absolute;
    top: 0px;
    left: -500px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: rgba(255,255,255,0);
}

#homesvg{
  width: 300px;
  height: 100px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(255,255,255,0);
}

#homePageContent{
    position: relative;
    top: 380px;
}

@media screen and (max-width: 1024px) {
    #homePageContent{
        position: relative;
        top: 400px;
        right: 100px;
    }
}

@media screen and (min-width: 1366px) {
    #homePageContent{
        position: relative;
        top: 430px;
    }
}

@media screen and (min-width: 1440px) {
    #homePageContent{
        position: relative;
        top: 520px;
    }
}

@media screen and (min-width: 1680px) {
    #homePageContent{
        position: relative;
        top: 650px;
    }
}

@media screen and (min-width: 1920px) {
    #homePageContent{
        position: relative;
        top: 680px;
    }
}

