@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: rgba(255,255,255,0);
}

svg{
  width: 300px;
  height: 60px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: rgba(255,255,255,0);
}

#homePageContent{
    position: relative;
    top: 450px;
}