<div>
    <div class="col-sm-offset-2 col-sm-8" >
        <div id="items">
            <table class="filterTable" style="border:null">
                <tr>
                    <td ng-click="itemOption.filter='All'" ng-class="{'labelHighlight':itemOption.filter=='All'}">All</td>
                    <td ng-click="itemOption.filter='Starting Items'" ng-class="{'labelHighlight':itemOption.filter=='Starting Items'}">Starting Items</td>
                    <td ng-click="itemOption.filter='Tools'" ng-class="{'labelHighlight':itemOption.filter=='Tools'}">Tools</td>
                    <td ng-click="itemOption.filter='Defense'" ng-class="{'labelHighlight':itemOption.filter=='Defense'}">Defense</td>
                    <td ng-click="itemOption.filter='Attack'" ng-class="{'labelHighlight':itemOption.filter=='Attack'}">Attack</td>
                    <td ng-click="itemOption.filter='Magic'" ng-class="{'labelHighlight':itemOption.filter=='Magic'}">Magic</td>
                    <td ng-click="itemOption.filter='Movement'" ng-class="{'labelHighlight':itemOption.filter=='Movement'}">Movement</td>
                </tr>
            </table>
        </div>
        <div id="itemBg">
            <div class="itemCard" ng-repeat="item in itemInfo">
                <img class="itemImg" ng-src="images/item_info/{{item.id}}.png" >
                <div id="hoverPop">
                    <div>
                        <b>{{item.name}}</b>
                        <br>
                        <p>{{item.plaintext}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>