<div>
	<div class="col-sm-offset-2 col-sm-8">
		<div id="champLogo">
			<img class="champ-img-circle" ng-src="images/champ_basic_info/{{detail.id}}/square.png" />
		</div>
		<div id="champTitle">
			<h2>{{detail.name}}</h2>
			<b>{{detail.title}}</b>
		</div>
		<div id="champDetailStats">
			<h3>Statistics</h3>
			<div class="row">
				<div style="padding-top:10px;padding-bottom:10px" ng-repeat = "(key,val) in detail.stats" class="col-sm-2">
					<p>{{key}}</p><p>{{val}}</p>
				</div>
			</div>
		</div>
		<div id="champDetailAbilities">
			<h3>Abilities</h3>
			<div ng-repeat="ability in detail.spells">
				<div class="champDetailAbility">
					<div class="abilityImg">
						<img class="img-square" ng-src="images/champ_basic_info/{{detail.id}}/{{ability.image.full}}" />
					</div>
					<div>
						<b>{{ability.name}}</b>
						<p>{{ability.description}}{{ability.sanitizedTooltip}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>