<div>
    <div class="col-sm-offset-2 col-sm-8">
        <div id="championsTable">
            <div id="championsFilterTableDiv">
<!--
            <table id="championsFilterTable" style="border:null">
                <tr>
                    <td class="matchTableFilterTitle"><p> League:</p></td>
                    <td ng-click="matchOptions.league='Bronze'" ng-class="{'labelHighlight':matchOptions.league=='Bronze'}">Bronze</td>
                    <td ng-click="matchOptions.league='Silver'" ng-class="{'labelHighlight':matchOptions.league=='Silver'}">Silver</td>
                    <td ng-click="matchOptions.league='Gold'" ng-class="{'labelHighlight':matchOptions.league=='Gold'}">Gold</td>
                    <td ng-click="matchOptions.league='Platinum'" ng-class="{'labelHighlight':matchOptions.league=='Platinum'}">Platinum</td>
                    <td ng-click="matchOptions.league='Diamond'" ng-class="{'labelHighlight':matchOptions.league=='Diamond'}">Diamond</td>
                    <td ng-click="matchOptions.league='Master'" ng-class="{'labelHighlight':matchOptions.league=='Master'}">Master</td>
                    <td ng-click="matchOptions.league='Challenger'" ng-class="{'labelHighlight':matchOptions.league=='Challenger'}">Challenger</td>
                </tr>
                <tr>
                    <td class="matchTableFilterTitle"><p> Time:</p></td>
                    <td ng-click="matchOptions.time='Last Month'" ng-class="{'labelHighlight':matchOptions.time=='Last Month'}">Last Month</td>
                    <td ng-click="matchOptions.time='Last Week'" ng-class="{'labelHighlight':matchOptions.time=='Last Week'}">Last Week</td>
                </tr>
                <tr>
                    <td class="matchTableFilterTitle"><p> Queue Type:</p></td>
                    <td ng-click="matchOptions.queueType='Solo Ranked'" ng-class="{'labelHighlight':matchOptions.queueType=='Solo Ranked'}">Solo Ranked</td>
                    <td ng-click="matchOptions.queueType='Team Rank'" ng-class="{'labelHighlight':matchOptions.queueType=='Team Rank'}">Team Rank</td>
                    <td ng-click="matchOptions.queueType='Normal Queue'" ng-class="{'labelHighlight':matchOptions.queueType=='Normal Queue'}">Normal Queue</td>
                </tr>
            </table>
-->
            </div>
            <table id="championsListTable" class="table">
                <tr class="tableStrip">
                    <th style="padding-left:50px;">Champions</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Magic</th>
                    <th>Difficulty</th>
                </tr>
                <tr ng-repeat="champ in champInfo | limitTo:20:(loadingPagination.pageIndex-1)*20" ng-click="setChampionDetail(champ.id)" ng-class="{'tableStrip':$index%2==1}">
					<td style="padding-left:40px"><img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" /><p style="display:inline;padding-left:20px;align-self:bottom">{{champ.name}}</p></td>
                    <td>
					  {{champ.info.attack}}/10
                    </td>
                    <td>
					  {{champ.info.defense}}/10
                    </td>
					<td>
					  {{champ.info.magic}}/10
                    </td>
                    <td>
					  {{champ.info.difficulty}}/10
                    </td>
                </tr>
            </table>
        </div>
		<nav ng-show="loadingPagination.show" class="pagin col-sm-offset-4 col-sm-4">
		  <ul class="pagination">
			  <li><a ng-click="loadingPagination.pageIndex>=2?loadPage(loadingPagination.pageIndex-1):none" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			  <li ng-show="index-loadingPagination.pageIndex<=3&&index-loadingPagination.pageIndex>=0" ng-repeat="index in [] | range:loadingPagination.maxIndex" ng-class="{'active':index==loadingPagination.pageIndex}"><a ng-click="loadPage(index)">{{index}} </a></li>
			<li><a ng-click="loadingPagination.pageIndex<=loadingPagination.maxIndex?loadPage(loadingPagination.pageIndex+1):none" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
		  </ul>
		</nav>
    </div>
</div>