<div class="col-sm-offset-1 col-sm-10">
    <div ng-repeat="video in twitchPlayList.streams">
        <div id="card">
            <div class="videoCard" ng-click="playVideo(video)">
                <img id="liveView" src="../../images/live/live_view_bk.png" >
				<p id="liveViewNumber">{{video.channel.views}}</p>
                <img id="playButton" src="../../images/live/live_play_icon.png" >
                <img style="position:relative;top:0px;left:0px;width:100%;height:100%" id="videoPreview" ng-src="{{video.preview.large}}">
            </div>
            <div id="videoSubtitle">
                <div style="float:left;padding-top:10px;">
                    <img id="videoLogo" ng-src="{{video.channel.logo}}">
                </div>
                <div class="subtitleCard" style="float:left;padding-left:10px">
                    <h4>{{video.channel.name}}</h4>
                    <p>{{video.channel.status|limitTo:20}}</p>
                </div>
                <div style="float:right">
					<img class="twitchIcon" src="../../images/live/tv_new.png" >
                </div>
            </div>
        </div>
    </div>
	<nav ng-show="twitchPlayList" class="pagin col-sm-offset-5 col-sm-3">
	  <ul class="pagination">
		  <li><a ng-click="index>=2?loadPage(index-1):none" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li ng-click="loadPage(1)" ng-class="{'active':index==1}"><a ng-click="loadPage(1)">1 </a></li>
		  <li ng-click="loadPage(2)" ng-class="{'active':index==2}"><a ng-click="loadPage(2)">2 </a></li>
		  <li ng-click="loadPage(3)" ng-class="{'active':index==3}"><a ng-click="loadPage(3)">3 </a></li>
		  <li ng-click="loadPage(4)" ng-class="{'active':index==4}"><a ng-click="loadPage(4)">4 </a></li>
		  <li ng-click="loadPage(5)" ng-class="{'active':index==5}"><a ng-click="loadPage(5)">5 </a></li>
		<li><a ng-click="index<=4?loadPage(index+1):none" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
	  </ul>
	</nav>
</div> 