<div>
    <div id="playerPage">
        <div id="playerScreen">
            <div class="flashPlayer">
            <object width="100%" height="100%" bgcolor="#000000" data="{{trustSrc()}}" id="live_embed_player_flash" type="application/x-shockwave-flash">
                <param value="true" name="allowFullScreen">
                <param value="always" name="allowScriptAccess">
                <param value="all" name="allowNetworking">
                <param value="http://www.twitch.tv/widgets/live_embed_player.swf" name="movie">
                <param value="hostname=www.twitch.tv&amp;channel={{video.channel.name}}&amp;auto_play=true&amp;start_volume=25" name="flashvars">
            </object>
            </div>
        </div>
    </div>
</div>