<div id="header" class="pageContainer" ng-controller = "formController">
    <div  class="header">
        <div class="pageLogoContainer">
            <div class="pageLogoPositioner">
                <div class="pageLogo"></div>
            </div>                
        </div>
        <div class="headerMenuPositioner">
            <div class="navTable">
<!--                <span class="glide_background" style="z-index: 2; left: 40px; width: 68px;"></span>-->
                <ul>
                    <li ng-class="{'navTableSelected':config.url=='HOME'}" class="menuItem"  name="homePageContent"  ui-sref=".home" ng-click="config.searchToggle=true;config.url='Home'">HOME</li>
                    <li ng-class="{'navTableSelected':config.url=='CHAMPIONS'}" class="menuItem" name="championsPageContent" ui-sref=".champions" ng-click="config.url='CHAMPIONS'">CHAMPIONS</li>
                    <li ng-class="{'navTableSelected':config.url=='ITEMS'}" class="menuItem" name="itemsPageContent" ui-sref=".items" ng-click="config.url='ITEMS'">ITEMS</li>
                    <li ng-class="{'navTableSelected':config.url=='RANK'}" class="menuItem" name="rankPageContent" ui-sref=".rank" ng-click="config.url='RANK'">RANK</li>
                    <li ng-class="{'navTableSelected':config.url=='LIVE'}" class="menuItem" name="livePageContent" ui-sref=".live" ng-click="config.url='LIVE'">LIVE</li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>