<div class="pageContainer" ng-controller = "formController">
    <div  class="header">
        <div class="pageLogoContainer">
            <div class="pageLogoPositioner">
                <div class="pageLogo"></div>
            </div>                
        </div>
        <div class="headerMenuPositioner">
            <div class="navTable">
                <span class="glide_background" style="z-index: 2; left: 40px; width: 68px;"></span>
                <ul>
                    <li class="menuItem navTableSelected"  name="homePageContent"  ui-sref=".home">HOME</li>
                    <li class="menuItem" name="championsPageContent" ui-sref=".champions.general">CHAMPIONS</li>
                    <li class="menuItem" name="itemsPageContent" ui-sref=".items">ITEMS</li>
                    <li class="menuItem" name="rankPageContent" ui-sref=".rank">RANK</li>
                    <li class="menuItem" name="livePageContent" ui-sref=".live">LIVE</li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>