<div class="pageContainer" ng-controller = "formController">
    <div  class="header">
        <div class="pageLogoContainer">
            <div class="pageLogoPositioner">
                <div class="pageLogo"></div>
            </div>                
        </div>
        <div class="headerMenuPositioner">
            <div class="navTable">
                <span class="glide_background" style="z-index: 2; left: 40px; width: 68px;"></span>
                <ul>
                    <li class="menuItem navTableSelected"  name="homePageContent">HOME</li>
                    <li class="menuItem" name="championsPageContent">CHAMPIONS</li>
                    <li class="menuItem" name="itemsPageContent">ITEMS</li>
                    <li class="menuItem" name="gamesPageContent">GAMES</li>
                    <li class="menuItem" name="rankPageContent">RANK</li>
                    <li class="menuItem" name="livePageContent">LIVE</li>
                </ul>
            </div>
        </div>
    </div>
</div>