<div>
    <div id="champions">
        <div id="summonerChampionFilter" class="row">
            <div ng-click="setFilter('ALL')" ng-class="{ 'labelHighlight':isSetFilter('ALL'), 'col-sm-1':true, 'filterBarOption':true}"><span>ALL</span></div>
            <div ng-click="setFilter('Last20Games')" ng-class="{ 'labelHighlight':isSetFilter('Last20Games'), 'col-sm-2':true, 'filterBarOption':true}"><span>Last 20 Games</span></div>
        </div>
        <table id="summonerChampionTable" class="table">
            <tr class="championsTableHeader">
                <th>Champion</th>
                <th>Rate</th>
                <th>Games</th>
                <th>KDA</th>
                <th>CS</th>
            </tr>
            <tr ng-repeat="champs in champions | limitTo:20:(loadingPagination.pageIndex-1)*20" ng-class="{'tableStrip':$index%2==1}">
                <td><img class="img-circle" ng-src="images/champ_basic_info/{{champs.id}}/square.png" /></td>
                <td>
					{{champs.stats.totalSessionsWon*100/champs.stats.totalSessionsPlayed|number:2}}%
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{champs.stats.totalSessionsWon*100/champs.stats.totalSessionsPlayed}}"
                      aria-valuemin="0" aria-valuemax="100" style="width:{{champs.stats.totalSessionsWon*100/champs.stats.totalSessionsPlayed}}%">
                      </div>
                    </div>
                </td>
                <td>{{champs.stats.totalSessionsPlayed}}</td>
                <td>{{(champs.stats.totalChampionKills+champs.stats.totalAssists)/champs.stats.totalSessionsPlayed|number:2}}</td>
                <td>{{champs.stats.totalMinionKills}}</td>
            </tr>
        </table>
    </div>
	<nav ng-show="loadingPagination.show" class="paginOther col-sm-4">
	  <ul class="pagination">
		  <li><a ng-click="loadingPagination.pageIndex>=2?loadPage(loadingPagination.pageIndex-1):none" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		  <li ng-show="index-loadingPagination.pageIndex<=3&&index>0" ng-repeat="index in [] | range:loadingPagination.maxIndex+1" ng-class="{'active':index==loadingPagination.pageIndex}"><a ng-click="loadPage(index)">{{index}} </a></li>
		<li><a ng-click="loadingPagination.pageIndex<loadingPagination.maxIndex?loadPage(loadingPagination.pageIndex+1):none" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      </ul>        
	</nav>
</div>
