<div>
    <div>
        <div class="last20GamesSummaryContainer">
            <div class="last20GamesSummaryTitle titleBgColor"><b>Total Games</b></div>
            <div class="last20GamesSummaryContent">
<!--
        <div class="last20GamesSummaryContent_champRow">
            <div class="titleLeftDivRTitle"><b>Champions</b></div>
            <div class='leftDivChampions'>
                <div ng-if="general.champions.length>=5" ng-repeat="champ in general.champions | limitTo: 5" class='displayHeroSmall'>
                    <img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                </div>
                <div ng-if="general.champions.length<5" ng-repeat="champ in general.champions " class='displayHeroSmall'><img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                </div>
            </div>
       </div>
-->
                <div class="last20GamesSummaryContent_champRow">
                    <div class="itemCard" ng-repeat="champ in general.champions">
                    <img style="width:30px;height:30px;" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                    <div id="hoverPop">
                       <b>Name: {{champ.name}}</b>
                       <p>W Rate: {{champ.stats.totalSessionsWon*100/champ.stats.totalSessionsPlayed | number:1}}%</p>
                       <p>KDA: {{(champ.stats.totalChampionKills+champ.stats.totalAssists)/(champ.stats.totalDeathsPerSession*champ.stats.totalSessionsPlayed) | number:1}}</p>
                       <p>CS: {{champ.stats.totalMinionKills/champ.stats.totalSessionsPlayed  | number:1}}</p>
                    </div>
                    </div>
                </div>
                <div class="last20GamesSummaryContent_champtable">
                    <div class="titleLeftDivRTitle leftDivTable"></div>
                    <div class='leftDivTable'>
                        <table id='last20gameSummaryTable' class='tableStyle'>
                            <thead>
                                <tr>
                                    <th class='theadStyle'>W Rate</th>
                                    <th class='theadStyle'>KDA</th>
                                    <th class='theadStyle'>CS</th>      
                                    <th class='theadStyle'>Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class='wRateData'>{{stats.wRate}}%</th>
                                    <th class='kdaData'>{{stats.kda}}</th>
                                    <th class='csData'>{{stats.cs}}</th>        
                                    <th class='timeData'>{{stats.games}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="last20GamesSummaryContent_champUseCount">
                    <div class="titleLeftDivRTitle"><b>Role/times</b></div>
                    <div class='leftDivRoleTimes'>
                        <div class='circleHeroDuty' ng-repeat="role in championGeneral.rolesRecent20">
                            <firstL>{{role.role|limitTo:3}}</firstL>
                            <secondL class='circleTopData'>{{role.times}}</secondL>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last20GamesSummarySpiderChartContainer">
            <div class="last20GamesSummarySpiderChart">
            </div>
        </div>
        <br/>
        <div class="championS5Header">
            <b>Champion Season 5</b>
        </div>
        <div id="roleTable">
            <table class="table">
                    <tbody>
                    <tr class="generalTableHeader">
                        <th>Role</th>
                        <th>W Rate</th>
                        <th>Games</th>
                        <th>KDA</th>
                        <th>CS</th>
                        <th>Last Played</th>
                    </tr>
                    <tr>
                    <tr ng-repeat="role in championGeneral.roles">
                        <td style="padding-left:90px">
                            <div class='circleHeroDuty'>
                                <firstL>{{role.role|limitTo:3}}</firstL>
                            </div>
                        </td>
                        <td>{{role.stats.winRate|number:2}}%</td>
                        <td>{{role.stats.games}}</td>
                        <td>{{role.stats.kda|number:2}}</td>
                        <td>{{role.stats.cs|number:2}}</td>
                        <td>{{role.stats.lastPlayed|number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="championTable">
            <table class="table">
                <tbody>
                    <tr class="generalTableHeader">
                        <th style="float:right">Champion</th>
                        <th>Rate</th>
                        <th>Games</th>
                        <th>KDA</th>
                        <th>CS</th>
                        <th>Last Played</th>
                    </tr>
                    <tr ng-repeat="champs in championGeneral.champs">
                        <td style="padding-left:40px">
                            <img class="img-circle" ng-src="images/champ_basic_info/{{champs.id}}/square.png" />
                        </td>
                        <td>{{champs.stats.winRate|number:2}}%</td>
                        <td>{{champs.stats.games}}</td>
                        <td>{{champs.stats.kda|number:2}}</td>
                        <td>{{champs.stats.cs|number:2}}</td>
                        <td>{{champs.stats.lastPlayed|number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>