<div>
    <div>
        <div class="last20GamesSummaryContainer">
            <div class="last20GamesSummaryTitle titleBgColor"><b>Last 20 Games</b></div>
            <div class="last20GamesSummaryContent">
<!--
        <div class="last20GamesSummaryContent_champRow">
            <div class="titleLeftDivRTitle"><b>Champions</b></div>
            <div class='leftDivChampions'>
                <div ng-if="general.champions.length>=5" ng-repeat="champ in general.champions | limitTo: 5" class='displayHeroSmall'>
                    <img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                </div>
                <div ng-if="general.champions.length<5" ng-repeat="champ in general.champions " class='displayHeroSmall'><img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                </div>
            </div>
       </div>
-->
                <div class="last20GamesSummaryContent_champRow">
                    <div class="row">
                        <div class="col-sm-2" id="last20GameTitle">Champions</div>
                        <div class="Last20GamesChampions col-sm-4" ng-repeat="champ in general.champions | orderBy:id | limitTo: 3">
                            <img class="img-circle" ng-src="images/champ_basic_info/{{champ.id}}/square.png" />
                            <span class="circleMarker">3</span>
                            <div id="hoverPop">
                               <b>Name: {{champ.name}}</b>
                               <p>W Rate: {{champ.stats.totalSessionsWon*100/champ.stats.totalSessionsPlayed | number:1}}%</p>
                               <p>KDA: {{(champ.stats.totalChampionKills+champ.stats.totalAssists)/(champ.stats.totalDeathsPerSession*champ.stats.totalSessionsPlayed) | number:1}}</p>
                               <p>CS: {{champ.stats.totalMinionKills/champ.stats.totalSessionsPlayed  | number:1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="last20GamesSummaryContent_champtable">
                    <div class="titleLeftDivRTitle leftDivTable"></div>
                    <div class='leftDivTable'>
                        <table id='last20gameSummaryTable' class='tableStyle'>
                            <thead>
                                <tr>
                                    <th class='theadStyle'>W Rate</th>
                                    <th class='theadStyle'>KDA</th>
                                    <th class='theadStyle'>CS</th>      
                                    <th class='theadStyle'>Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class='wRateData'>{{stats.wRate}}%</th>
                                    <th class='kdaData'>{{stats.kda}}</th>
                                    <th class='csData'>{{stats.cs}}</th>        
                                    <th class='timeData'>{{stats.games}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="last20GamesSummaryContent_champUseCount">
                    <div class="titleLeftDivRTitle"><b>Roles</b></div>
                    <div class='leftDivRoleTimes row'>
<!--
                        <div class='circleHeroDuty' ng-repeat="role in championGeneral.rolesRecent20">
                            <span>{{role.role | limitTo:3}}</span>
                            <span>{{role.times}}</span>
                        </div>
-->
                        <div class="rolesInGame col-sm-1" ng-repeat="role in roles">
                            <span class="rolesTitle">{{role}}</span>
                            <span class="rolesValue">3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last20GamesSummarySpiderChartContainer">
            <div class="last20GamesSummarySpiderChart">
            </div>
        </div>

        <div class="championS5Header">
            <span>Champion Season 5</span>
        </div>
        <div id="roleTable">
            <div class="generalTableHeader row">
                <div class="col-sm-2">Role</div>
                <div class="col-sm-2">W Rate</div>
                <div class="col-sm-2">Games</div>
                <div class="col-sm-2">KDA</div>
                <div class="col-sm-2">CS</div>
                <div class="col-sm-2">Last Played</div>
            </div>
            <div class="generalTableValue row" ng-repeat="role in roles">
                <div class="col-sm-2">
                    <div class="circleHeroDuty"><span id="rolesChampionTitle">{{role}}</span></div>
                </div>
                <div class="col-sm-2"><span>{{role.stats.winRate|number:2}}30%</span></div>
                <div class="col-sm-2"><span>{{role.stats.games}}3</span></div>
                <div class="col-sm-2"><span>{{role.stats.kda|number:2}}3</span></div>
                <div class="col-sm-2"><span>{{role.stats.cs|number:2}}3</span></div>
                <div class="col-sm-2"><span>{{role.stats.lastPlayed|number:2}}3</span></div>
            </div>
        </div>
        <div id="championTable">
            <div class="generalTableHeader row">
                <div class="col-sm-2">Champion</div>
                <div class="col-sm-2">Rate</div>
                <div class="col-sm-2">Games</div>
                <div class="col-sm-2">KDA</div>
                <div class="col-sm-2">CS</div>
                <div class="col-sm-2">Last Played</div>
            </div>
            <div class="generalTableValue row" ng-repeat="champs in general.champions | limitTo: 5">
                <div class="col-sm-2">
                    <img class="img-circle championTableImg" ng-src="images/champ_basic_info/{{champs.id}}/square.png" />
                </div>
                <div class="col-sm-2"><span>{{stats.wRate}}%</span></div>
                <div class="col-sm-2"><span>{{stats.games}}</span></div>
                <div class="col-sm-2"><span>{{stats.kda}}</span></div>
                <div class="col-sm-2"><span>{{stats.cs}}</span></div>
                <div class="col-sm-2"><span>Today</span></div>
            </div>
        </div>        
<!--
        <div id="roleTable">
            <table class="table">
                <tbody>
                    <tr class="generalTableHeader">
                        <th>Role</th>
                        <th>W Rate</th>
                        <th>Games</th>
                        <th>KDA</th>
                        <th>CS</th>
                        <th>Last Played</th>
                    </tr>
                    <tr>
                    <tr ng-repeat="role in championGeneral.roles">
                        <td style="padding-left:90px">
                            <div class='circleHeroDuty'>
                                <div>{{role.role|limitTo:3}}</div>
                            </div>
                        </td>
                        <td>{{role.stats.winRate|number:2}}%</td>
                        <td>{{role.stats.games}}</td>
                        <td>{{role.stats.kda|number:2}}</td>
                        <td>{{role.stats.cs|number:2}}</td>
                        <td>{{role.stats.lastPlayed|number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="championTable">
            <table class="table">
                <tbody>
                    <tr class="generalTableHeader">
                        <th style="float:right">Champion</th>
                        <th>Rate</th>
                        <th>Games</th>
                        <th>KDA</th>
                        <th>CS</th>
                        <th>Last Played</th>
                    </tr>
                    <tr ng-repeat="champs in championGeneral.champs">
                        <td style="padding-left:40px">
                            <img class="img-circle" ng-src="images/champ_basic_info/{{champs.id}}/square.png" />
                        </td>
                        <td>{{champs.stats.winRate|number:2}}%</td>
                        <td>{{champs.stats.games}}</td>
                        <td>{{champs.stats.kda|number:2}}</td>
                        <td>{{champs.stats.cs|number:2}}</td>
                        <td>{{champs.stats.lastPlayed|number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
-->
    </div>
</div>