<div>
	<div id="victoryGroup">
		<b>Victory</b>
        <span class="matchBandChampions"></span>
        <span class="matchGold"><span class="matchGoldTitle">Gold</span> 68.5K</span>
        <span class="matchKills"><span class="matchKillsTitle">Kills</span> 36</span>
	</div>
	<div class="matchDetailChampions">
		<table class="table">
			<tr class="championsTableHeader">
				<th>Champion</th>
				<th>Summoner</th>
				<th>KDA</th>
				<th>C/Kills</th>
				<th>Wards</th>
				<th>CS</th>
				<th>Items</th>
			</tr>
			<tr ng-repeat="champs in match.participants" ng-show="champs.stats.winner" ng-class="{'tableStrip':$index%2==1}">
				<td><img class="img-circle" ng-src="images/champ_basic_info/{{champs.championId}}/square.png" /></td>
				<td>{{match.participantIdentities[champs.participantId].player.summonerName}}</td>
				<td>{{(champs.stats.kills+champs.stats.assists)/champs.stats.deaths|number:2}}</td>
				<td>{{champs.stats.kills}}</td>
				<td>{{champs.stats.wardsKilled}}</td>
				<td>{{champs.stats.minionsKilled}}</td>
				<td><span>
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item0}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item1}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item2}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item3}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item4}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item5}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item6}}.png">
				</span></td>
			</tr>
		</table>
	</div>
	<div id="defeatGroup">
		<b>Defeat</b>
        <span class="matchBandChampions"></span>
        <span class="matchGold"><span class="matchGoldTitle">Gold</span> 68.5K</span>
        <span class="matchKills"><span class="matchKillsTitle">Kills</span> 36</span>        
	</div>
	<div class="matchDetailChampions">
		<table class="table">
			<tr class="championsTableHeader">
				<th>Champion</th>
				<th>Summoner</th>
				<th>KDA</th>
				<th>C/Kills</th>
				<th>Wards</th>
				<th>CS</th>
				<th>Items</th>
			</tr>
			<tr ng-repeat="champs in match.participants" ng-show="!champs.stats.winner" ng-class="{'tableStrip':$index%2==1}">
				<td><img class="img-circle" ng-src="images/champ_basic_info/{{champs.championId}}/square.png" /></td>
				<td>{{match.participantIdentities[champs.participantId].player.summonerName}}</td>
				<td>{{(champs.stats.kills+champs.stats.assists)/champs.stats.deaths|number:2}}</td>
				<td>{{champs.stats.kills}}</td>
				<td>{{champs.stats.wardsKilled}}</td>
				<td>{{champs.stats.minionsKilled}}</td>
				<td><span>
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item0}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item1}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item2}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item3}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item4}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item5}}.png">
					<img style="width:15px;height:15px;" ng-src="images/item_info/{{champs.stats.item6}}.png">
				</span></td>
			</tr>
		</table>
	</div>
</div>