<div>
                <div class="last20GamesSummaryContainer">
                <div class="last20GamesSummaryTitle titleBgColor">Last 20 Games</div>
                <div class="last20GamesSummaryContent">
                    <div class="last20GamesSummaryContent_champRow">
                        <div class="titleLeftDivRTitle">Champions</div>
                        <div class='leftDivChampions'>
                            <div id='displayHero1' class='displayHeroSmall'></div>
                            <div id='displayHero2' class='displayHeroSmall'></div>
                            <div id='displayHero3' class='displayHeroSmall'></div>
                        </div>
                   </div>
                    <div class="last20GamesSummaryContent_champtable">
                        <div class="titleLeftDivRTitle leftDivTable"></div>
                        <div class='leftDivTable'>
                            <table id='last20gameSummaryTable' class='tableStyle'>
                                <thead>
                                    <tr>
                                        <th class='theadStyle'>W Rate</th>
                                        <th class='theadStyle'>KDA</th>
                                        <th class='theadStyle'>CS</th>		
                                        <th class='theadStyle'>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class='wRateData'></th>
                                        <th class='kdaData'></th>
                                        <th class='csData'></th>		
                                        <th class='timeData'></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="last20GamesSummaryContent_champUseCount">
                        <div class="titleLeftDivRTitle">Role/times</div>
                        <div class='leftDivRoleTimes'>
                            <div class='circleHeroDuty'>
                                <firstL>TOP</firstL>  <secondL class='circleTopData'></secondL>
                            </div>
                            <div class='circleHeroDuty'>
                                <firstL>JUN</firstL>  <secondL class='circleJunData'></secondL>
                            </div>
                            <div class='circleHeroDuty'>
                                <firstL>MID</firstL>  <secondL class='circleMidData'></secondL>
                            </div>
                            <div class='circleHeroDuty'>
                                <firstL>ADC</firstL>  <secondL class='circleAdcData'></secondL>
                            </div>
                            <div class='circleHeroDuty'>
                                <firstL>SUP</firstL>  <secondL class='circleSupData'></secondL>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last20GamesSummarySpiderChartContainer">
                <div class="last20GamesSummarySpiderChart"></div>
            </div>
</div>