<div>
    <div id="matches">
        <table class="table">
            <tr class="matchesTableHeader">
                <th>Champion</th>
                <th>Type</th>
                <th>KDA</th>
                <th>Length</th>
                <th>Time</th>
            </tr>
            <tr ng-repeat="match in matches.matches" ng-class="{'tableStrip':$index%2==1}">
                <td style="padding-left:40px"><img class="img-circle" ng-src="images/champ_basic_info/{{match.champion}}/square.png" /></td>
                <td>{{match.queueType}}</td>
                <td>{{match.kda}}</td>
                <td>{{match.matchDuration}}</td>
                <td>{{match.matchTime}}</td>
            </tr>
        </table>
    </div>
</div>